<!DOCTYPE html>
{% load static %}
<html lang="en">

<!--LOAD YOUR STYLESHEETS HERE-->
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/login.js' %}"></script>
    <script src='{% static "js/jquery-3.5.1.min.js" %}'></script>
</head>

<!--RENDER YOUR PAGE CONTENT HERE-->
<body>
    <div class="login">
      <h1>Digist Timetable Planner</h1>
        <form action='/search/' method="post">
          {% csrf_token %}
          <input type="text" name="studentID" placeholder="Username" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
    </div>
</body>
</html>
