<!DOCTYPE html>
{% load static %}
<html lang="en">

<!--LOAD YOUR STYLESHEETS HERE-->
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src='{% static "js/jquery-3.5.1.min.js" %}'></script>
</head>

<!--RENDER YOUR PAGE CONTENT HERE-->
<body>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div id="photo"><img src= "{{s.img}}" ></div>
    <table>
        <tr><td>Matric:</td><td>{{s.matric}}</td></tr>
        <tr><td>Name:</td><td>{{s.name}}</td></tr>
        <tr><td>Study Yr:</td><td>{{s.study_yr}}</td></tr>
        <tr><td>Course:</td><td>{{s.course}}</td></tr>
        <tr><td>Module Passed:</td><td>{{s.mods_cleared}}</td></tr>    
    </table>
</body>
</html>