{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block additional_styles %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block inline_styles %}
    {% comment %} circle {
        fill: green;
        } {% endcomment %}
    {% comment %} add hover, selection to circle {% endcomment %}
    {% comment %} add selection to array {% endcomment %}
    {% comment %} generate timetable from tree selection {% endcomment %}
    path {
    fill: none;
    stroke: white;
    stroke-width: 5px;
    }

    text {
    fill: white;
    }

    .alreadyCleared {
    fill: green;
    }

    .notCleared {
    fill: red;
    }

    #root {
    fill: white;
    }

{% endblock %}

{% block body_content %}
    <div class="tree-div">
        <svg id="tree"></svg>
    </div>
    <script src="{% static 'js/tree.js' %}"></script>

    <script>
        let cleared = "{{cleared}}";
        const regex = /(&#x27;)|(\[)|(\])|( )/g;
        let clearedClean = cleared.replace(regex, "");
        let taken = clearedClean.split(",");
    </script>
    <script src="{% static 'js/tree.js' %}"></script>

{% endblock %}
