{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block additional_styles %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block inline_styles %}
    {% comment %} circle {
        fill: green;
        } {% endcomment %}
    {% comment %} add hover, selection to circle {% endcomment %}
    {% comment %} add selection to array {% endcomment %}
    {% comment %} generate timetable from tree selection {% endcomment %}
    path {
    	fill: none;
    	stroke: white;
    	stroke-width: 5px;
    }

    text {
    	fill: white;
    }

    .alreadyCleared {
    	fill: #16a085;
    }

		.canTake {
			fill: #2980b9;
		}

    .cannotTake {
    	fill: #7f8c8d;
    }

    #root {
    	fill: white;
    }

		.container-fluid {
			color: white;
		}

{% endblock %}

{% block body_content %}
    <div class="container-fluid" style="margin-top: 150px;">
			<div class="row">
				<div class="col-8">
					<svg id="tree"></svg>
				</div>
				<div class="col-4">
					<h1>Selected Courses</h1>
					<p id="selectedCoursesFromTree"></p>
					<form action={% url "loading" %} style="top:0px;" onsubmit="sendCourseCodesToTimetable()" method="POST">
							{% csrf_token %}
							<input type="submit" value="Create Timetable" class="btn btn-primary btn-block btn-large">
					</form>
				</div>
			</div>
    </div>

    <script>
        let cleared = "{{cleared}}";
        const regex = /(&#x27;)|(\[)|(\])|( )/g;
        let clearedClean = cleared.replace(regex, "");
        let taken = clearedClean.split(",");
				taken.push("Business Course");

				function sendCourseCodesToTimetable() {
					$.ajax({
						url: "{% url "timetable" %}",
						type: "POST",
						data: selected,
						processData: false,
						contentType: false
					});
				}
    </script>
    <script src="{% static 'js/tree.js' %}"></script>

{% endblock %}
