<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Courses</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
</head>
<body>
    <h1 class = center>Select courses</h1>
        <div class="container centerbutton">
            <form action={% url "timetable" %}>
                <select multiple data-multi-select-plugin name="course" id = "courseselect" multiple>
                    {% for coursecode, coursename in coursecodes.items %}
                        <option value="{{ coursecode }} {{ coursename }}"></option>
                    {% endfor %}

                    <input type="submit" value="Create Timetable">
                </select>
            </form>
        </div>
</body>
<script src="../static/js/search.js"></script>
</html>