<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Courses</title>
    <link href="{% static 'css/search.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/search.js' %}"></script>
</head>

<script type="text/javascript">
  const [entry] = performance.getEntriesByType("navigation");
    if (entry["type"] === "back_forward"){
        location.reload();
    }
</script>

<body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1>Select Courses</h1>
            <form action={% url "timetable" %}>
                <select data-multi-select-plugin name="course" id = "courseselect" multiple>
                    {% for coursecode, coursename in coursecodes.items %}
                        <option value="{{ coursecode }} {{ coursename }}"></option>
                    {% endfor %}
                    <input type="submit" value="Create Timetable" class="btn btn-primary btn-block btn-large">
                </select>
            </form>
        </div>
</body>
</html>