{% extends 'base.html' %}
{% load static %}

{% block title %}
    Timetable
{% endblock %}

{% block additional_styles %}
    <link href="{% static 'css/timetable.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/timetable.js' %}"></script>
    <script src="{% static 'js/interest_table.js' %}"></script>

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

{% endblock %}

{% block inline_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            /**
             * Sends a POST request to our API endpoint with the following URL parameters
             * @param {String} clickedIndex The index of the lesson that was clicked
             * @param {Object} combi A key-value map of the current combination {'Course_Index' : 'Index_Number'} - eg  {'CZ2001': '10184', 'CZ2002': '10203}
             */
            function getAlternateIndexes(clickedIndex, combi) {
                $.ajax({
                    type: "POST",
                    url: "alt_indexes/",
                    data: {
                        "clickedIndex": clickedIndex,
                        "combi": JSON.stringify(combi),
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: data => getAlternateIndexesOnSuccess(clickedIndex, combi, data),
                })
            }

            /**
             * Restores all previously removed events
             */
            function restoreRemovedEvents() {
                for (let event of removedEvents) {
                    calendar.addEvent(event);
                }
                removedEvents.length = 0;
            }

            /**
             * Delete all alternative indexes
             */
            function deleteAlternatives() {
                const events = calendar.getEvents();

                for (let event of events) {
                    if (event.extendedProps.alternate) {
                        event.remove();
                    }
                }
            }

            function removeLessons(index) {
                const events = calendar.getEvents();
                for (let event of events) {
                    const shouldRemove = event.extendedProps.index === index &&
                        (event.extendedProps.ltype === 'TUT' || event.extendedProps.ltype === 'LAB')
                    if (shouldRemove) {
                        removedEvents.push(event);
                        event.remove();
                    }
                }
            }

            function setAlternateIndexAsMain(info) {
                const event = info.event;
                const events = calendar.getEvents();
                event.setExtendedProp('alternate', false);
                const combiObj = event.extendedProps.combiObj

                // UPDATE THE COMBI OBJECT
                for (let course_code in combiObj) {
                    if (course_code === event.extendedProps.course_code) {
                        combiObj[course_code] = event.extendedProps.index;
                        event.setExtendedProp('combiObj', combiObj);
                        break;
                    }
                }

                // REMOVE ALL OTHER ALTERNATIVES THAT WERE NOT SELECTED
                for (let e of events) {
                    if (e.extendedProps.course_code === event.extendedProps.course_code &&
                        e.extendedProps.index !== event.extendedProps.index) {
                        info.el.style.backgroundColor = eventColor;
                        e.remove();
                    }
                }

                // UPDATE THE TABLE BELOW WITH THE NEW COMBI OBJECT
                updateInterestTable(combiObj, event.extendedProps.course_code);
            }

            function updateInterestTable(combiObj, courseCode) {
                const clickedIndex = combiObj[courseCode];
                const vacancies = document.getElementsByClassName('vacancies');
                const indexes = document.getElementsByClassName('index');
                const interesteds = document.getElementsByClassName('interested')

                // FIND THE ROW AND RESET ITS VACANCY
                for (let vacancy of vacancies) {
                    if (vacancy.dataset.coursecode === courseCode) {
                        vacancy.dataset.index = clickedIndex;
                        animateChange(vacancy, updateIndexVacancies(clickedIndex));
                    }
                }

                // FIND THE ROW AND RESET ITS INDEX
                for (let index of indexes) {
                    if (index.dataset.coursecode === courseCode) {
                        index.dataset.index = clickedIndex;
                        animateChange(index, clickedIndex);
                    }
                }

                // FIND THE ROW AND RESET ITS INTERESTED FLAG
                for (let interested of interesteds) {
                    if (interested.dataset.coursecode === courseCode) {
                        interested.dataset.index = clickedIndex;
                        const interestedIndexes = JSON.parse(sessionStorage.getItem('interestedIndexes')) || [];
                        interested.checked = interestedIndexes.includes(clickedIndex);
                    }
                }
            }

            function updateIndexVacancies(clickedIndex) {
                const indexVacancies = JSON.parse(sessionStorage.getItem('indexVacancies')) || {};
                if (!(clickedIndex in indexVacancies)) indexVacancies[clickedIndex] = 200;
                sessionStorage.setItem('indexVacancies', JSON.stringify(indexVacancies));
                return indexVacancies[clickedIndex];
            }

            function animateChange(element, value, timeout = 500) {
                element.classList.add('hide');
                setTimeout(() => element.textContent = value, timeout);
                setTimeout(() => element.classList.remove('hide'), timeout);
            }

            /**
             * Handler for a successful POST request in getAlternateIndexes(...)
             */
            function getAlternateIndexesOnSuccess(clickedIndex, combiObj, data) {
                restoreRemovedEvents();
                deleteAlternatives();
                removeLessons(clickedIndex);
                const alt_indexes = JSON.parse(data["alt_indexes"]);
                let altEvents = [];
                for (let i = 0; i < alt_indexes.length; i++) {
                    const index = alt_indexes[i];
                    for (let lesson of index.lessons) {
                        if (lesson.ltype !== "LEC/STUDIO") {
                            altEvents.push({
                                title: `${lesson.course_code} | ${lesson.ltype} | ${lesson.index}`,
                                start: lesson.date.concat("T", lesson.t_start),
                                end: lesson.date.concat("T", lesson.t_end),
                                allDay: false,
                                backgroundColor: altEventColors[altEvents.length % altEventColors.length],
                                className: ["fc-alt-event"],
                                extendedProps: {
                                    alternate: true, ltype: lesson.ltype,
                                    index: lesson.index, course_code: lesson.course_code,
                                    combiObj: combiObj
                                },
                                eventOverlap: false,
                            });
                        }
                    }
                }
                calendar.addEventSource(altEvents);
                calendar.render();
            }

            // REMOVE THE SEARCH BAR
            $('.free-day').hide();
            $('.multi-select-component').hide();

            const removedEvents = [];
            const eventColor = "#FD79A8";
            const altEventColors = ["#555F61", "#6F7C80", "#8C979A", "#A7AFB2", "#C1C7C9"];

            /* initialize the calendar
            -----------------------------------------------------------------*/
            let combinations = [];

            {% for combination in combinations %}
                var combiObj = {};
                var combi = [];
                {% for course, index in combination.items %}
                    {% for lesson in index.lessons %}
                        combiObj['{{ course.code }}'] = '{{ lesson.index }}';
                        combi.push({
                            title: '{{ course.code }}'.concat(" | {{ lesson.ltype }} | ".concat("{{ lesson.index }}")),
                            start: '{{ lesson.date }}T{{ lesson.t_start }}',
                            end: '{{ lesson.date }}T{{ lesson.t_end }}',
                            allDay: false,
                            backgroundColor: eventColor,
                            extendedProps: {
                                alternate: false, index: '{{ lesson.index }}',
                                ltype: '{{ lesson.ltype }}', course_code: '{{lesson.course_code}}',
                                combiObj: combiObj
                            },
                            eventOverlap: false,
                        });
                    {% endfor %}
                {% endfor %}
                combinations.push(combi);
            {% endfor %}

            var combinationNum = 0;

            var cal = document.createElement("div");
            cal.setAttribute("id", "calendar");
            var div2 = document.createElement("div");
            div2.setAttribute("id", "innerCal");

            var title = document.createElement("h1");
            title.setAttribute("id", "title");
            var titleText = document.createTextNode(`${combinationNum + 1} of ${combinations.length}`);
            title.style.cssText = "margin-top: 80px;color:white";
            title.appendChild(titleText);

            cal.appendChild(title);
            cal.appendChild(div2);
            var parent = document.getElementById("calendar-wrap");
            parent.appendChild(cal);

            var calendarE1 = document.getElementById('innerCal');
            var calendar = new FullCalendar.Calendar(calendarE1, {

                eventClick: function (info) {
                    if (info.event.extendedProps.alternate) {
                        setAlternateIndexAsMain(info);
                    } else {
                        getAlternateIndexes(info.event.extendedProps.index,
                            info.event.extendedProps.combiObj)
                    }
                },
                customButtons: {
                    myPrevButton: {
                        text: 'Prev',
                        click: function () {
                            if (combinationNum > 0) {
                                calendar.removeAllEvents();
                                combinationNum -= 1;
                                calendar.addEventSource(combinations[combinationNum]);
                                title.innerHTML = `${combinationNum + 1} of ${combinations.length}`;
                            }
                        }
                    },
                    myNextButton: {
                        text: 'Next',
                        click: function () {
                            if (combinationNum < combinations.length - 1) {
                                calendar.removeAllEvents();
                                combinationNum += 1;
                                calendar.addEventSource(combinations[combinationNum]);
                                title.innerHTML = `${combinationNum + 1} of ${combinations.length}`;
                            }
                        }
                    }
                },
                headerToolbar: {
                    left: false,
                    center: false,
                    right: 'myPrevButton,myNextButton'

                },
                events: [],
                allDaySlot: false,
                //nowIndicator: true,
                slotEventOverlap: false,
                dayHeaderFormat: {weekday: 'long'},
                slotMinTime: '08:00',
                slotMaxTime: '21:00',
                slotDuration: '00:30',
                initialView: 'timeGridWeek',
                expandRows: true,
                weekends: false,
                editable: false,
                droppable: true, // this allows things to be dropped onto the calendar
                drop: function (arg) {
                    // is the "remove after drop" checkbox checked?
                    if (document.getElementById('drop-remove').checked) {
                        // if so, remove the element from the "Draggable Events" list
                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                    }
                },
            });
            calendar.addEventSource(combinations[0]);
            calendar.render();
        })
        ;

        const [entry] = performance.getEntriesByType("navigation");
        if (entry["type"] === "back_forward") {
            location.reload();
        }
    </script>
{% endblock %}
{% block inline_styles %}
    #calendar-wrap {
    max-width: 1100px;
    margin: 0 auto;
    }

    #calendar {
    max-width: 1100px;
    margin: 0 auto;
    }

    .fc-day-today {
    background-color:inherit !important;
    }
{% endblock %}

{% block body_content %}
    <div id='wrap'>
        <div id='calendar-wrap'>
        </div>

        <div>
            {% include 'interest_table.html' %}
        </div>
    </div>


{% endblock %}
