{% extends 'base.html' %}
{% load static %}

{% block title %}
	Timetable
{% endblock  %}

{% block additional_styles %}
	<link href="{% static 'css/timetable.css' %}" rel="stylesheet"/>
	<script src="{% static 'js/timetable.js' %}"></script>

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
{% endblock  %}

{% block inline_scripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			/**
			* Sends a POST request to our API endpoint with the following URL parameters
			* @param {String} clickedIndex The index of the lesson that was clicked
			* @param {Object} combi A key-value map of the current combination {'Course_Index' : 'Index_Number'} - eg  {'CZ2001': '10184', 'CZ2002': '10203}
			*/

			function parseTime( t ) {
               var d = new Date();
               var time = t.match( /(\d+)(?::(\d\d))?\s*(p?)/ );
               d.setHours( parseInt( time[1]) + (time[3] ? 12 : 0) );
               d.setMinutes( parseInt( time[2]) || 0 );
               return d;
            }

			function getAlternateIndexes(clickedIndex, combi) {
				$.ajax({
					type: "POST",
					url: "alt_indexes/",
					data: {
						"clickedIndex": clickedIndex,
						"combi": JSON.stringify(combi),
						"csrfmiddlewaretoken": "{{ csrf_token }}"
					},
					success: data => getAlternateIndexesOnSuccess(clickedIndex, data),
				})
			}

			function deleteAlternatives() {
			    const events = calendar.getEvents();

			    for (let event of events) {
			        if (event.extendedProps.alternate) {
			            event.remove();
                    }
                }
            }

            function dimLessonsOfIndex(index) {
			    console.log(`dimming index ${index}`);
			    const events = calendar.getEvents();
			    for (let event of events) {
			        console.log(event.title);
			        // TODO : FIX THE PART ON RE-ADDING LESSONS
			        if (event.extendedProps.index === index &&
                        (event.extendedProps.ltype === 'TUT' || event.extendedProps.ltype == 'LAB')) {
			            console.log(`dimming event ${event}`)
                        console.log(event.title, event.backgroundColor);
			            event.remove();
                    }
                }
            }

			/**
			* Handler for a successful POST request in getAlternateIndexes(...)
			* @param {Object} data The response returned from the API endpoint (ie. JS-equivalent of a Django context dict)
			*/
			function getAlternateIndexesOnSuccess(clickedIndex, data) {
			    console.log('clickedIndex', clickedIndex)
                console.log('data', data)
			    deleteAlternatives();
			    dimLessonsOfIndex(clickedIndex);
			    const colors = ["#ff793f", "#b33939", "#3742fa", "#2f3542", "#4b4b4b"]
				const alt_indexes = JSON.parse(data["alt_indexes"]);
				if (alt_indexes.length === 0) console.log("NO ALTERNATIVES");
				let altEvents = [];
                for (let i=0; i<alt_indexes.length; i++) {
                    const index = alt_indexes[i];
                    for(let lesson of index.lessons){
                        if(lesson.ltype != "LEC/STUDIO") {
                            altEvents.push({
                                title: lesson.ltype,
                                start: lesson.date.concat("T", lesson.t_start),
                                end: lesson.date.concat("T", lesson.t_end),
                                allDay: false,
                                backgroundColor: colors[i],
                                extendedProps: {alternate: true, ltype: lesson.ltype},
                            });
                        }
                    }
                }
                console.log(combinations[combinationNum]);
                console.log("------------------");
                console.log(altEvents);
                calendar.addEventSource(altEvents);
                calendar.render();
				// TODO - @TIMETABLE TEAM - FROM HERE, YOU GUYS HAVE A LIST[INDEX OBJECT] STORED IN alt_indexes
				// TODO - REFER TO backend/entities.py/Index class FOR ALL ATTRIBUTES YOU MIGHT NEED
			}

			/* initialize the calendar
			-----------------------------------------------------------------*/
            let combinations = [];
            {% for combination in combinations %}
                var combiObj = {};
                var combi = [];
                {% for course, index in combination.items %}
                    {% for lesson in index.lessons %}
                        combiObj['{{ course.code }}'] = '{{ lesson.index }}';
                        combi.push({
                            title: '{{ course.name }}'.slice(0, -1).concat(" - {{ lesson.ltype }}"),
                            start: '{{ lesson.date }}T{{ lesson.t_start }}',
                            end: '{{ lesson.date }}T{{ lesson.t_end }}',
                            allDay: false,
                            extendedProps: {index: '{{ lesson.index }}', ltype: '{{ lesson.ltype }}', combiObj: combiObj},
                        });
                    {% endfor %}
                {% endfor %}
                combinations.push(combi);
            {% endfor %}

            var combinationNum = 0;

            var cal = document.createElement("div");
            cal.setAttribute("id", "calendar");
            var div2 = document.createElement("div");
            div2.setAttribute("id", "innerCal");

            var title = document.createElement("h1");
            title.setAttribute("id", "title");
            var titleText = document.createTextNode("Combination " + (combinationNum + 1));
            title.style.cssText = "margin-top: 80px;";
            title.appendChild(titleText);

            cal.appendChild(title);
            cal.appendChild(div2);
            var parent = document.getElementById("calendar-wrap");
            parent.appendChild(cal);

            var calendarE1 = document.getElementById('innerCal');
            var calendar = new FullCalendar.Calendar(calendarE1, {

                eventClick: function (info) {
                    getAlternateIndexes(info.event.extendedProps.index,
                        info.event.extendedProps.combiObj)
                },
                customButtons: {
                    myPrevButton: {
                        text: 'Prev',
                        click: function () {
                            if(combinationNum > 0) {
                                calendar.removeAllEvents();
                                combinationNum -= 1;
                                calendar.addEventSource(combinations[combinationNum]);
                                title.innerHTML = "Combination " + (combinationNum + 1);
                            }
                        }
                    },
                    myNextButton: {
                        text: 'Next',
                        click: function () {
                            if(combinationNum < combinations.length - 1) {
                                calendar.removeAllEvents();
                                combinationNum += 1;
                                calendar.addEventSource(combinations[combinationNum]);
                                title.innerHTML = "Combination " + (combinationNum + 1);
                            }
                        }
                    }
                },
                headerToolbar: {
                    left: false,
                    center: false,
                    right: 'myPrevButton,myNextButton'

                },
                events: [

                ],
                allDaySlot: false,
                //nowIndicator: true,
                dayHeaderFormat: {weekday: 'long'},
                slotMinTime: '08:00',
                slotMaxTime: '19:00',
                slotDuration: '00:30',
                initialView: 'timeGridWeek',
                expandRows: true,
                weekends: false,
                editable: false,
                droppable: true, // this allows things to be dropped onto the calendar
                drop: function (arg) {
                    // is the "remove after drop" checkbox checked?
                    if (document.getElementById('drop-remove').checked) {
                        // if so, remove the element from the "Draggable Events" list
                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                    }
                },
            });
            calendar.addEventSource(combinations[0]);
            calendar.render();
		});

		const [entry] = performance.getEntriesByType("navigation");
		if (entry["type"] === "back_forward") {
			location.reload();
		}
	</script>
{% endblock %}
{% block inline_styles %}
	#calendar-wrap {
        max-width: 1100px;
        margin: 0 auto;
    }

    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }

    .fc-day-today {
      background-color:inherit !important;
    }
{% endblock  %}

{% block body_content %}
	<div id='wrap'>
        <div id='calendar-wrap'>
        </div>
    </div>
	<br />
	<br />
{% endblock %}
