body {
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.logout {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.free-day {
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: -60px;
}

.free-day input {
    margin: 10px;
}

.free-day label {
    padding-right: 10px;
}

.free-day label:hover {
    background: #fd79a8;
    color: black;
    cursor: pointer;
}