body {
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.logout {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.free-day {
    color: #ecf0f1;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: -60px;
}

.free-day-prompt {
    letter-spacing: 3px;
}

.free-day input {
    margin: 10px;
}

.free-day label {
    padding-right: 10px;
}

.free-day label:hover {
    cursor: pointer;
    transform: scale(1.4);
}


/* ON HOVER EFFECTS FOR PROMPT */
.free-day-prompt:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    cursor: pointer;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}